


<div class="container">
  <div class="panel panel-default text-center">
    <div class="panel-heading">
      <h1 class="panel-title">Log In</h1>
    </div>
    <div class="panel-body">
      <p id="alert"><%= alert %></p>
        <%= bootstrap_form_tag url: sessions_path do |f| %>
        <%= f.text_field :username, hide_label: true, placeholder: "username" %>
        <%= f.password_field :password, hide_label: true, placeholder: 'password' %>
        <%= f.primary "Log In" %>
      <% end %>
    </div>
  </div>
</div>

