<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">User Profile</div>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item"> <strong>username:</strong> <%= @user.username %> </li>
        <li class="list-group-item"> <strong>email:</strong> <%= @user.email %> </li>
        <li class="list-group-item">
          <article><strong>about:</strong> <%= @user.about %> </article>
        </li>
        <br>
        <p class="text-center"><%= link_to "Edit user info", edit_user_path %></p>
      </ul>
    </div>
  </div>
</div>

Liked bikes
  <% @user.likes.each do |bike| %>
    <div class="container">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption text-center">
            <h3><%= bike.build_name %></h3>
            <p><%= bike.description %></p>
            <%= link_to bike_path(bike.id), class: "btn btn-primary" do %>
              View Build
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
