<div class="container new-bike-container text-center">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Update Your Bike</div>
    </div>
    <div class="panel-body">
      <%= bootstrap_form_for(@bike) do |f| %>
        <%= f.text_field :build_name %>
        <%= f.text_area :description %>
        <div class="form-group form-inline">
          <%= f.text_field :frame %>
          <span class="pull-right"><%= f.number_field :frame_cost, prepend: "$", append: ".00" %> </span>
        </div>
        <div class="form-group form-inline">
          <%= f.text_field :fork %>
          <span class="pull-right"><%= f.number_field :fork_cost, prepend: "$", append: ".00" %></span>
        </div>
        <div class="form-group form-inline">
          <%= f.text_field :headset %>
          <span class="pull-right"><%= f.number_field :headset_cost, prepend: "$", append: ".00" %></span>
        </div>
        <div class="form-group form-inline">
          <%= f.text_field :stem %>
          <span class="pull-right"><%= f.number_field :stem_cost, prepend: "$", append: ".00" %></span>
        </div>
        <div class="form-group form-inline">
          <%= f.text_field :handlebars %>
          <span class="pull-right"><%= f.number_field :handlebars_cost, prepend: "$", append: ".00" %></span>
        </div>
        <div class="form-group form-inline">
          <%= f.text_field :saddle %>
         <span class="pull-right"> <%= f.number_field :saddle_cost, prepend: "$", append: ".00" %></span>
        </div>
        <div class="form-group form-inline">
          <%= f.text_field :seatpost %>
          <span class="pull-right"><%= f.number_field :seatpost_cost, prepend: "$", append: ".00" %></span>
        </div>
        <div class="form-group form-inline">
          <%= f.text_field :brakes %>
          <span class="pull-right"><%= f.number_field :brakes_cost, prepend: "$", append: ".00" %></span>
        </div>
        <div class="form-group form-inline">
          <%= f.text_field :wheels %>
          <span class="pull-right"><%= f.number_field :wheels_cost, prepend: "$", append: ".00" %></span>
        </div>
        <div class="form-group form-inline">
          <%= f.text_field :tires %>
          <span class="pull-right"><%= f.number_field :tires_cost, prepend: "$", append: ".00" %></span>
        </div>
        <div class="form-group form-inline">
          <%= f.text_field :pedals %>
          <span class="pull-right"><%= f.number_field :pedals_cost, prepend: "$", append: ".00" %></span>
        </div>
        <div class="form-group form-inline">
          <%= f.text_field :crankset %>
          <span class="pull-right"><%= f.number_field :crankset_cost, prepend: "$", append: ".00" %></span>
        </div>
        <div class="form-group form-inline">
          <%= f.text_field :cog %>
         <span class="pull-right"> <%= f.number_field :cog_cost, prepend: "$", append: ".00" %></span>
        </div>
        <div class="form-group form-inline">
          <%= f.text_field :chain %>
          <span class="pull-right"><%= f.number_field :chain_cost, prepend: "$", append: ".00" %></span>
        </div>
        <%puts f.number_field :chain_cost %>
        <%= f.primary "Update Build" %>
      <% end %>

    </div>
  </div>
</div>


