<div class="container new-bike-container">
  <%= bootstrap_form_for(@bike) do |f| %>
    <%= f.text_field :frame, inline: true %>
    <%= f.number_field :frame_cost, inline: true %>
    <%= f.text_field :fork %>
    <%= f.number_field :fork_cost %>


    <%= f.primary "Submit new build" %>
  <% end %>
</div>


