<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title"> <%= @bike.build_name %> </div>
      <article> <%= @bike.description %> </article>
    </div>
    <div class="panel-body">
      <ul class="list-group">

        <li class="list-group-item"><strong>Frame: </strong><%= @bike.frame %> <span class="pull-right"><strong>Cost: </strong>$<%= @bike.frame_cost %>.00</span></li>
        <li class="list-group-item"><strong>Fork: </strong><%= @bike.fork %> <span class="pull-right"><strong>Cost: </strong>$<%= @bike.fork_cost %>.00</span></li>
        <li class="list-group-item"><strong>Headset: </strong><%= @bike.headset %> <span class="pull-right"><strong>Cost: </strong>$<%= @bike.headset_cost %>.00</span></li>
        <li class="list-group-item"><strong>Stem: </strong><%= @bike.stem %> <span class="pull-right"><strong>Cost: </strong>$<%= @bike.stem_cost %>.00</span></li>
        <li class="list-group-item"><strong>Handlebars: </strong><%= @bike.handlebars %> <span class="pull-right"><strong>Cost: </strong>$<%= @bike.handlebars_cost %>.00</span></li>
        <li class="list-group-item"><strong>Saddle: </strong><%= @bike.saddle %> <span class="pull-right"><strong>Cost: </strong>$<%= @bike.saddle_cost %>.00</span></li>
        <li class="list-group-item"><strong>Seatpost: </strong><%= @bike.seatpost %> <span class="pull-right"><strong>Cost: </strong>$<%= @bike.seatpost_cost %>.00</span></li>
        <li class="list-group-item"><strong>Brakes: </strong><%= @bike.brakes %> <span class="pull-right"><strong>Cost: </strong>$<%= @bike.brakes_cost %>.00</span></li>
        <li class="list-group-item"><strong>Wheelset: </strong><%= @bike.wheels %> <span class="pull-right"><strong>Cost: </strong>$<%= @bike.wheels_cost %>.00</span></li>
        <li class="list-group-item"><strong>Tires: </strong><%= @bike.tires %> <span class="pull-right"><strong>Cost: </strong>$<%= @bike.tires_cost %>.00</span></li>
        <li class="list-group-item"><strong>Pedals: </strong><%= @bike.pedals %> <span class="pull-right"><strong>Cost: </strong>$<%= @bike.pedals_cost %>.00</span></li>
        <li class="list-group-item"><strong>Crankset: </strong><%= @bike.crankset %> <span class="pull-right"><strong>Cost: </strong>$<%= @bike.crankset_cost %>.00</span></li>
        <li class="list-group-item"><strong>Cog: </strong><%= @bike.cog %> <span class="pull-right"><strong>Cost: </strong>$<%= @bike.cog_cost %>.00</span></li>
        <li class="list-group-item"><strong>Chain: </strong><%= @bike.chain %> <span class="pull-right"><strong>Cost: </strong>$<%= @bike.chain_cost %>.00</span></li>
        <li class="list-group-item text-center"><strong>Total Cost:</strong>
        $<%= @bike.frame_cost + @bike.fork_cost + @bike.headset_cost + @bike.stem_cost + @bike.handlebars_cost + @bike.saddle_cost + @bike.seatpost_cost + @bike.brakes_cost + @bike.wheels_cost + @bike.tires_cost + @bike.pedals_cost + @bike.crankset_cost + @bike.cog_cost + @bike.chain_cost %>.00
        </li>
      </ul>
    </div>
    <div class="container likes">
      <% if @bike.likes.exists? current_user %>
        <%= button_to bike_likes_path(@bike), class: "btn btn-success", method: :delete do %>
          Liked ✔ <span class="badge"><%= @bike.likes.count %></span>
        <% end %>
      <% else %>
        <%= button_to bike_likes_path(@bike), class: "btn btn-primary" do %>
          Like <span class="badge"> <%= @bike.likes.count %> </span>
        <% end %>
      <% end %>
      <br>
      <div class="edit">
        <% if current_user && current_user.id == @bike.user_id %>
          <%= link_to edit_bike_path(@bike.id), class: "btn btn-warning" do %>
            Edit Build
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



